<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>MS SPAM DETECTOR</title>
       <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Prompt">
   <style>
      body,h2 {
       font-family: 'Prompt', sans-serif;
       
      }
    </style>
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container mt-3">
    		<h2 class='container mt-2'><span>SPAM DETECTOR</h2>
            <div class='description'>
    			<p>ทดสอบข้อความโดยใช้ ML จำแนกว่าเป็น spam หรือไม่</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="container mt-3">
    		<form action="{{ url_for('predict') }}" method="POST">
        		<textarea class='message-box' name="message" rows="5" cols="75" ></textarea><br/>
        		<input type="submit" class="btn btn-primary" value="Predict">
        	</form>
    	</div>

     
    </body>
</html>
